<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dan's Web Homework's Cloudiness</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="testsyle.css">
</head>

<body style="background-color:  rgb(206, 206, 206)">

  <div class="p-2">
    <form method="POST" action="/">

      <div class = "container-md">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Hey Buddy, wanna make some money?</h1>
            <p>Why dont you answer some questions and click some check boxes bellow?</p>
          </div>
        </div>

        <label>Which of the bellow do you have experience in?</label>
        <div class = "row">
          <div class = "col-md-2">
            <input type="checkbox" name="checkbox"  value="AWS" /><label>AWS</label><br>
            <input type="checkbox" name="checkbox"  value="Bash/Shell" /><label>Bash/Shell</label><br>
            <input type="checkbox" name="checkbox"  value="C++" /><label>C++</label><br>
            <input type="checkbox" name="checkbox"  value="COBOL" /><label>COBOL</label><br>
            <input type="checkbox" name="checkbox"  value="Cassandra" /><label>Cassandra</label><br>
            <input type="checkbox" name="checkbox"  value="Clojure" /><label>Clojure</label><br>
            <input type="checkbox" name="checkbox"  value="Crystal" /><label>Crystal</label><br>
            <input type="checkbox" name="checkbox"  value="Delphi" /><label>Delphi</label><br>
            <input type="checkbox" name="checkbox"  value="Django" /><label>Django</label><br>
            <input type="checkbox" name="checkbox"  value="Drupal" /><label>Drupal</label><br>
            <input type="checkbox" name="checkbox"  value="DynamoDB" /><label>DynamoDB</label><br>            
          </div>

          <div class = "col-md-2">
            <input type="checkbox" name="checkbox"  value="Elasticsearch" /><label>Elasticsearch</label><br>
            <input type="checkbox" name="checkbox"  value="Flask" /><label>Flask</label><br>
            <input type="checkbox" name="checkbox"  value="Flow" /><label>Flow</label><br>
            <input type="checkbox" name="checkbox"  value="Git" /><label>Git</label><br>
            <input type="checkbox" name="checkbox"  value="Go" /><label>Go</label><br>
            <input type="checkbox" name="checkbox"  value="Google Cloud Platform" /><label>Google Cloud Platform</label><br>
            <input type="checkbox" name="checkbox"  value="Hadoop" /><label>Hadoop</label><br>
            <input type="checkbox" name="checkbox"  value="Java" /><label>Java</label><br>
            <input type="checkbox" name="checkbox"  value="JavaScript" /><label>JavaScript</label><br>
            <input type="checkbox" name="checkbox"  value="Kubernetes" /><label>Kubernetes</label><br>
            <input type="checkbox" name="checkbox"  value="LISP" /><label>LISP</label><br>
          </div>

          <div class = "col-md-2">
            <input type="checkbox" name="checkbox"  value="MariaDB" /><label>MariaDB</label><br>
            <input type="checkbox" name="checkbox"  value="Microsoft Azure" /><label>Microsoft Azure</label><br>
            <input type="checkbox" name="checkbox"  value="Node.js" /><label>Node.js</label><br>
            <input type="checkbox" name="checkbox"  value="Oracle" /><label>Oracle</label><br>
            <input type="checkbox" name="checkbox"  value="PHP" /><label>PHP</label><br>
            <input type="checkbox" name="checkbox"  value="Pandas" /><label>Pandas</label><br>
            <input type="checkbox" name="checkbox"  value="Perl" /><label>Perl</label><br>
            <input type="checkbox" name="checkbox"  value="PowerShell" /><label>PowerShell</label><br>
            <input type="checkbox" name="checkbox"  value="Python" /><label>Python</label><br>
            <input type="checkbox" name="checkbox"  value="Qt" /><label>Qt</label><br>
            <input type="checkbox" name="checkbox"  value="React.js" /><label>React.js</label><br>
          </div>

          <div class = "col-md-2">
            <input type="checkbox" name="checkbox"  value="Redis" /><label>Redis</label><br>
            <input type="checkbox" name="checkbox"  value="Ruby on Rails" /><label>Ruby on Rails</label><br>
            <input type="checkbox" name="checkbox"  value="Rust" /><label>Rust</label><br>
            <input type="checkbox" name="checkbox"  value="Scala" /><label>Scala</label><br>
            <input type="checkbox" name="checkbox"  value="Swift" /><label>Swift</label><br>
            <input type="checkbox" name="checkbox"  value="Terraform" /><label>Terraform</label><br>
            <input type="checkbox" name="checkbox"  value="TypeScript" /><label>TypeScript</label><br>
            <input type="checkbox" name="checkbox"  value="Unity 3D" /><label>Unity 3D</label><br>
            <input type="checkbox" name="checkbox"  value="Vue.js" /><label>Vue.js</label><br>
            <input type="checkbox" name="checkbox"  value="Xamarin" /><label>Xamarin</label><br>
            <input type="checkbox" name="checkbox"  value="jQuery" /><label>jQuery</label><br> </div>
          </div>

          <div class = "col-md-4">
            
          </div>
      </div>
      <br>
      <div class="form-group">
        <label for="CodingPro">How long Have you been Coding Proffesioanlly?</label>
        <input type="number" name="CodingPro" placeholder="Years Coding Proffesionally" 
        class="form-control" style="max-width:300px;"/>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
  </div>
  </body>

</html>

<!--Normally these medium columns go full wide 
  
  cloudiness 
  https://raw.githubusercontent.com/danpranjic/python-api-challenge/main/pandas%20api%20hw/lat%20cloudiness.png

  humidity
  https://raw.githubusercontent.com/danpranjic/python-api-challenge/main/pandas%20api%20hw/lat%20humidity.png

  temperature
  https://raw.githubusercontent.com/danpranjic/python-api-challenge/main/pandas%20api%20hw/lat%20temp.png

  wind speed
  https://raw.githubusercontent.com/danpranjic/python-api-challenge/main/pandas%20api%20hw/lat%20wind.png
  
  on small screen sizes-->